* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-family: 'Roboto', sans-serif;
    height: 100%;    
}

#nav-menu-superior{
    align-items: center;
    background-color: black;
    color: white;
    display: flex;
    height: 50px;
    justify-content: space-between;
    padding: 0 100px;
}

#nav-menu-superior h3{
    font-size: 140%;
}

select {
    background: transparent;
    border: 1px solid black;
    color: #F3F3F3;
    font-size: 140%;   
}

option {
    background-color: #F3F3F3;
    color: black;
}

.logotipo img {
    height: 30px;
    width: 200px;
}

#nav-menu-inferior {
    align-items: center;
    background-color: #F0A83E;
    display: flex;
    height: 80px;
    justify-content: space-between;
    padding: 0 50px;
}

#nav-menu-inferior ul {
    display: flex;
    font-size: 160%;
}

#nav-menu-inferior ul li {
    color: white;
    list-style: none;
    padding-left: 40px;
}

#banner { 
    background-size: contain;
    min-width: 1024px;
    width: 100%;
}

.informacion-banner {
    position: relative;
}

.informacion-banner div {
    align-items: center;
    display: flex;
    flex-direction: column;
    position: absolute;
    right: 100px;
    top: 400px;
}

.informacion-banner div p:first-child{
    background-color: #fff;
    border-radius: 5px;
    color: #3C2313;
    font-size: 70px;
    padding: 10px;
}

.informacion-banner div p:nth-child(2) {
    color: #3C2313;
    font-size: 40px;
    padding: 20px;
}

#buttom-comederos {
    background-color: #F0A83E;
    border-radius: 5px;
    border-style: none;
    color: #fff;
    font-size: 25px;
    height: 80px;
    width: 300px;
}

main {
    display: flex;
    flex-direction: column;
}

h1 {
    color: #3C2313;
    font-size: 300%;
}

#patita{
    color: #F0A83E;
    font-size: 70px;
    padding: 30px;
    text-align: center;
}

.productos-destacados {
    align-items: center;
    display: flex;
    flex-direction: column;   
}

#menu-productos-destacados {
    color: #666666;
    display: flex;
    list-style: none;
    padding: 30px;
}

#menu-productos-destacados li {
    padding-left: 30px;
}

#menu-productos-destacados i {
    font-size: 5%;
}

.cards {
    display: flex;
    justify-content: center;
    margin: 50px;
}

.cards article {
    background-color: #FBFAF6;
    display: flex;
    flex-direction: column;
    height: 642px;
    margin: 15px;
    width: 526px;
}

.cards h2 {
    font-size: 150%;
    padding: 5px;
}

.cards p {
    color: #F0A83E;
    font-size: 150%;
    padding: 5px;
    text-align: center;
}

.contactanos {
    align-items: center;
    display: flex;
    flex-direction: column;
    padding-top: 30px;
}

h2 {
    color: #3C2313;
    font-size: 220%;
    padding-bottom: 30px;
    text-align: center;
}

.form-contactanos {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 430px;
    justify-content: space-around;
}

.form-contactanos input {
    font-size: 110%;
    height: 80px;
    padding-left: 20px;
    width: 600px;
}

form input {
    background-color: #3C2313;
    border-radius: 30px;
    color: #fff;
}

#form-contactanos-btn-contenedor {
    display: flex;
    justify-content: space-around;
    padding: 30px;
    width: 320px;
}

#btn-resetear {
    background-color: #8A8787;
    border-radius: 30px;
    border-style: none;
    color: #fff;
    font-size: 120%;
    height: 44px;
    width: 120px;
}

#btn-enviar {
    background-color: #F0A83E;
    border-radius: 30px;
    border-style: none;
    color: #fff;
    font-size: 120%;
    height: 44px;
    width: 120px;
}

.suscribirme {
    align-items: center;
    background-color: #F0A83E;
    color: #fff;
    display: flex;
    height: 80px;
    justify-content: space-between;
    padding: 0 50px;
}

.suscribirme p {
    font-size: 200%;
}

#suscribirme {
    background-color: #fff;
    border-style: none;
    color: #A0A0A0;
    font-size: 120%;
    height: 60px;
    padding-left: 10px;
    width: 550px;
}

#btn-suscribirme {
    background-color: #3C2313;
    border-radius: 30px;
    color: #fff;
    font-size: 120%;
    height: 55px;
    width: 150px;
}

.ubicacion {
    align-items: center;
    background-color: #3C2313;
    color: #fff;
    display: flex;
    height: 300px;
    justify-content: space-between;
    padding: 0 100px;
}

table td{
    padding: 15px;
}

table h3 {
    font-size: 150%;
}

table p {
    font-size: 80%;
}

.redes {
    background-color: #222222;
    bottom: 0;
    color: #fff;
    display: flex;
    flex-direction: column;
    height: 50px;
    justify-content: center;
    text-align: center;
}

footer ul {
    display: flex;
    justify-content: center;
    list-style: none;
}

footer ul li {
    font-weight: bold;
    padding-left: 15px;
}

a:link, a:visited, a:active{
    color: #fff;
    text-decoration: none;    
}




