* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-family: 'Roboto', sans-serif;
    height: 100%;    
}

#nav-menu-superior{
    align-items: center;
    background-color: black;
    color: white;
    display: flex;
    height: 50px;
    justify-content: space-between;
}

#nav-menu-superior h3{
    font-size: 140%;
}

#nav-menu-superior ul{
    display: flex;
    font-size: 120%;
}

nav ul li {
    list-style: none;
    padding-left: 10px;
}

#nav-menu-inferior {
    align-items: center;
    background-color: #F0A83E;
    display: flex;
    height: 80px;
    justify-content: space-between;
}

#nav-menu-inferior ul {
    display: flex;
    font-size: 160%;
}

#nav-menu-inferior ul li {
    color: white;
    padding-left: 40px;
}

#banner { 
    background-size: contain;
    min-width: 1024px;
    width: 100%;
}

.informacion-banner {
    position: relative;
}

.informacion-banner div {
    align-items: center;
    display: flex;
    flex-direction: column;
    font-size: 70px;
    position: absolute;
    right: 100px;
    top: 400px;
}

#buttom-comederos {
    background-color: #F0A83E;
    border-radius: 5px;
    border-style: none;
    color: #fff;
    height: 49px;
    width: 141px;
}

main {
    display: flex;
    flex-direction: column;
}

h1 {
    color: #3C2313;
    font-size: 300%;
}

.productos-destacados {
    align-items: center;
    display: flex;
    flex-direction: column;   
}

#menu-productos-destacados {
    color: #666666;
    display: flex;
}

h2 {
    color: #3C2313;
    text-align: center;
}

.cards {
    display: flex;
    justify-content: center;
}

.contactanos {
    align-items: center;
    display: flex;
    flex-direction: column;
}

.form-contactanos {
    display: flex;
    flex-direction: column;
    width: 340px;
}

.form-contactanos input {
    height: 40px;
    width: 340px;
}

form input, #buttom-suscribirme {
    background-color: #3C2313;
    border-radius: 15px;
    color: #fff;
}

.ubicacion {
    background-color: #3C2313;
    color: #fff;
}

#buttom-resetear {
    background-color: #8A8787;
    border-radius: 15px;
    border-style: none;
    color: #fff;
    height: 34px;
    width: 110px;
}

#buttom-enviar {
    background-color: #F0A83E;
    border-radius: 15px;
    border-style: none;
    color: #fff;
    height: 34px;
    width: 110px;
}

#form-contactanos-btn-contenedor {
    display: flex;
    justify-content: center;
}

.suscribirme {
    background-color: #F0A83E;
    color: #fff;
    display: flex;
    justify-content: space-between;
}

#patita, .cards p {
    color: #F0A83E;
    text-align: center;
}

#suscribirme {
    background-color: #fff;
    color: #A0A0A0;
}

.ubicacion {
    align-items: center;
    display: flex;
    justify-content: space-between;
}

a:link, a:visited, a:active{
    color: #fff;
    text-decoration: none;    
}

footer {
    background-color: #222222;
    color: #fff;
    bottom: 0;
    text-align: center;
}

footer ul {
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0%;
}

footer ul li {
    font-weight: bold;
    padding-left: 15px;
}



